.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: white;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-body {
  background-color: white;
  min-height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Menu {
  min-height: 15vh;
  max-width: 50vh;
  min-width: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  align-self: center;
  border-style: solid;
  border-color: rgba(170, 170, 170, 0.36);
  border-width: 1px;
  padding: 10px;
  border-radius: 5px;
}

.Menu-Body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-width: 100%;
}

.Results {

  border-style: solid;
  border-color: rgba(170, 170, 170, 0.36);
  border-width: 1px;
  padding: 10px;
  border-radius: 5px;
}

.Results-Close {
  float: right;
  background-color: rgba(222, 222, 222, 0.9);
  border: none;
  padding: 10px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px;
  margin-right: -28px;
  margin-top: -28px;
}

.Results-Close:focus {outline:0;}